body{
    background-color: aliceblue;
    background-image: url('./assets/feeding_sharks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    width: 100%;
    height: 100%;

}